@import '../../styl/color.styl'
.header 
    width: 100vw
    height: 0.8rem
    background: $back1
    span 
      line-height: 0.8rem
      color: $fc1
      float :left
      font-size: 0.4rem
    h3
        text-align: center
        color: $fc1
        line-height: 0.8rem
        font-size: 0.32rem
        display: inline-block
        padding-left: 38%
    .user-logo
     float right
     font-size: .4rem
     padding-right: .2rem
input 
  width 80%
  height 0.8rem
  border: 0rem
.user
    background: $fc1
    width: 90%
    margin-top: 0.4rem
    margin-left: 0.3rem
    border:0.01rem $back2
    border-radius: 0.02rem
    .tel
        font-size: 0.4rem
        color: $back2
.pass
    background: $fc1
    width: 90%
    margin-left: 0.3rem
    border:0.01rem $back2
    border-radius: 0.02rem
    display: flex
    .pas
        color: $back1
        font-size: 0.4rem
        line-height: .8rem
.num
    width: 1.2rem
    float:right
    font-size: 0.24rem
    margin-right: 0.2rem
.email
    line-height: 0.8rem
    font-size: .4rem
.reg
    width: 90%
    padding-top: 120px
    margin 0 auto

    